
     <div id="follow">
        <h3>Follow us</h3>
      <img src="<?php echo PUBLIC_PATH.'common/image/caption-rule.png';?>" alt="" width="300" height="2"> <p></p>         
          
     <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.xidian.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/twitter.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Twitter</span>
    </div> 
    
    <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.xidian.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/facebook.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Facebook</span>
    </div>   

    <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.xidian.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/instagram.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Instagram</span>
    </div> 

     <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.xidian.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/note.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Evernote</span>
    </div> 

     <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.xidian.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/wechat.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Wechat</span>
    </div> 
     

    </div>

    </div>

<div class="footer">
    <img src="<?php echo PUBLIC_PATH.'common/image/apple-touch-icon.png'?>" alt="logo" width="230" height="230">
    <ul>
              <li><a><h3>友情链接</h3></a></li>        
            <li><a target="_blank" href="https://www.xidian.edu.cn/"><h4>西安电子科技大学本科生网站</h4></a></li>
            <li><a target="_blank" href="https://gr.xidian.edu.cn/"><h4>西安电子科技大学研究生网站</h4></a></li>
    </ul>
    <ul>
              <li><a ><h3>相关网站</h3></a></li>        
            <li><a target="_blank" href="https://ce.xidian.edu.cn/"><h4>西安电子科技大学网络与信息安全学院</h4></a></li>
            <li><a target="_blank" href="https://ehall.xidian.edu.cn/"><h4>西安电子科技大学一站式服务大厅</h4></a></li>
    </ul>
        <ul>
              <li><a ><h3>关于我们</h3></a></li>
            <li><a target="_blank" href="./hit/include.php?name=11.txt"><h4>点我试试</h4></a></li>
            <li><a target="_blank" href="https://www.venustech.com.cn/"><h4>相关企业</h4></a></li>
    </ul>
    <p>地址：陕西省西安市长安区西安电子科技大学 | 邮政编码：510000 | 电话：010-01010101 | 传真：101-10101010</p>
     <p>2023 © 西安电子科技大学　</p>
</div>

<div id="scrolltop"> 

<div id="scroll1">          
            <div>
                <a href="javascript:playPause();" class="btns" ><audio id="music2" src="<?php echo PUBLIC_PATH.'common/audio/audio.mp3'?>"  loop="loop"></audio> BGM</a>
            </div>
</div>
<div id="scroll2"> 
            <div >
                <a href="#"  class="btns" >TOP</a>
            </div>
</div>
</div>


 </body>
</html>
