<?php require COMMON_VIEW.'header.html';?>

    <div class="content">
        <div id="card">
        <div class="container">
            <div class="card">
                <div class="imgBx">
                    <img src="<?php echo PCOMMON_PATH.'image/bird.png';?>" alt="web安全">
                </div>
                <div class="contentBx">
                    <h2>Web</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Web安全是指保护Web应用程序和Web服务器免受恶意攻击和数据泄露的过程和实践。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;随着 WEB 2.0、社交网络、微博等等一系列新型的互联网产品的诞生，基于 WEB 环境的互联网应用越来越广泛，企业信息化的过程中各种应用都架设在 WEB 平台上，WEB 业务的迅速发展也引起黑客们的强烈关注，接踵而至的就是 WEB 安全威胁的凸显，黑客利用网站操作系统的漏洞和 WEB 服务程序的漏洞得到 WEB 服务器的控制权限，轻则篡改网页内容，重则窃取重要内部数据，更为严重的则是在网页中植入恶意代码，使得网站访问者受到侵害。</p>
                    <a href="https://ctf-wiki.org/web/introduction/" target="_blank"><span>Read More</span></a>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="<?php echo PCOMMON_PATH.'image/panda.png';?>" alt="pwn">
                </div>
                <div class="contentBx">
                    <h2>Pwn</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;通常用作网络安全领域中指代成功攻击或完全控制目标计算机系统或应用程序的行为。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;它的使用表示攻击者成功地获得对目标系统的控制，可以执行各种恶意操作，例如获取敏感信息、修改系统设置、植入后门等。
                        在计算机安全社区中，攻击者通常以"pwn"来标志他们对目标的控制和攻击成功。这个术语有时也被用来形容一个人在某个领域或比赛中完全击败对手。
                        需要注意的是，"Pwn"一词源于网络黑客社区的俚语，并不是一个正式的术语。在正式的安全领域和交流中，更常用的术语是"exploit"或"compromise"来描述成功攻击和控制目标系统的行为。</p>
                    <a href="https://www.wangan.com/docs/pwn-base" target="_blank"><span>Read More</span></a>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="<?php echo PCOMMON_PATH.'image/wildlifeday.png';?>" alt="Reverse逆向">
                </div>
                <div class="contentBx">
                    <h2>Reverse</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;逆向工程是指通过分析和理解已有的软件、硬件或其他产品的设计和实现方式，以推断其内部机制、算法和工作原理的过程。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;逆向工程源于商业及军事领域中的硬件分析。其主要目的是在不能轻易获得必要的生产信息的情况下，直接从成品分析，推导出产品的设计原理。
                        逆向工程可能会被误认为是对知识产权的严重侵害，但是在实际应用上，反而可能会保护知识产权所有者。例如在集成电路领域，如果怀疑某公司侵犯知识产权，可以用逆向工程技术来寻找证据。</p>
                    <a href="https://ctf-wiki.org/reverse/introduction/" target="_blank"><span>Read More</span></a>
                </div>
            </div>
        </div>
    </div>

<?php require COMMON_VIEW.'footer.html';?>