
<?php require COMMON_VIEW.'header.html';?>

    <div class="content">
    <h3>2023年西电招生视频</h3>
    <h4>播放此视频，了解更多关于西电的故事。</h4>
    <h4>Play this video and learn more about the story of XDU.</h4>
    <video controls="controls" width="1130" height="700"  src="<?php echo PUBLIC_PATH.'common\video\video.mp4';?>"></video>  

    <!-- <div id="map">
    <img src="<?php echo PUBLIC_PATH.'common/image/Conservation Hub.jpeg';?>" width="1130" height="600" border="0" usemap="#planetmap" alt="dmap" />
        <p>Wildlife Map</p>
        <h4> 点击地图上感兴趣的位置并开始学习吧！</h4>

        <a target="_blank" href="./?c=knowledge&a=Asian"><button class="button button6"><span>Learn more</span></button></a>
        <map name="planetmap" id="planetmap">

        <area shape="circle" coords="520,480,40" href ="./?c=knowledge&a=Other" target ="_blank" alt="Other" />
        <area shape="circle" coords="520,90,40" href ="./?c=knowledge&a=Other" target ="_blank" alt="Other " />
        <area shape="circle" coords="530,370,40" href ="./?c=knowledge&a=Other" target ="_blank" alt="Other " />
        <area shape="circle" coords="650,390,40" href ="./?c=knowledge&a=Africa" target ="_blank" alt="Africa " />
        <area shape="circle" coords="880,350,40" href ="./?c=knowledge&a=Asian" target ="_blank" alt="Asian " />
        <area shape="circle" coords="940,460,40" href ="./?c=knowledge&a=Oceania" target ="_blank" alt="Oceania" />
        <area shape="circle" coords="330,430,40" href ="./?c=knowledge&a=Other" target ="_blank" alt="Other" />
        <area shape="circle" coords="210,270,40" href ="./?c=knowledge&a=America" target ="_blank" alt="America " />
        <area shape="circle" coords="110,340,40" href ="./?c=knowledge&a=Other" target ="_blank" alt="Other " />

        </map>
    </div> -->
        

    <div class="responsive">
        <div class="img">
           <a target="_blank" href="">
           </a>
       <div class="desc">
        <h3>网安专题</h3>
        <h5>了解更多关于网络安全的内容</h5>
       </div>
       </div>
  </div>

   <div class="responsive">
       <div class="img">
       <div class="tiles">
           <a class="tile" href="./?c=activity"><img src="<?php echo PUBLIC_PATH.'common/image/7.jpg';?>"/>
               <div class="details">
               <span class="title">Web</span>
               <span class="info">Web安全</span></div></a>
           </div>
   </div>
   </div>

           <div class="responsive">
       <div class="img">
       <div class="tiles">
           <a class="tile" href="./?c=activity"><img src="<?php echo PUBLIC_PATH.'common/image/8.jpg';?>"/>
               <div class="details">
               <span class="title">Pwn</span>
               <span class="info">Pwn</span></div></a>
           </div>
   </div>
   </div>

   <div class="responsive">
       <div class="img">
       <div class="tiles">
           <a class="tile" href="./?c=activity"><img src="<?php echo PUBLIC_PATH.'common/image/9.jpg';?>"/>
               <div class="details">
               <span class="title">Reverse</span>
               <span class="info">逆向工程</span></div></a>
           </div>
   </div>
   </div>
    <div class="clearfix"></div>
        

    <div class="example">
        <img src="<?php echo PUBLIC_PATH.'common/image/10.jpg';?>" width="1080" height="597" alt="">
        <p>黑客</p>
        <h4>在信息安全里，“黑客”指研究如何智取计算机安全系统的人员。他们利用公共通讯网路，如电话系统和互联网，以非正规手段登录对方系统，掌握操控系统之权力。</h4>

        <a target="_blank" href="https://zh.wikipedia.org/wiki/%E9%BB%91%E5%AE%A2"><button class="button button5"><span>Learn more</span></button></a>
    </div>

    

<?php require COMMON_VIEW.'footer.html';?>